Generic/*.pdf
Generic/PDFs/*.pdf
Generic/*.svd
Generic/.clangd
Other/

Button_blink/.clangd
Button_blink/compile_flags.txt
Button_blink/*.o
Button_blink/*.map

UART_Serial_Console/.clangd
UART_Serial_Console/compile_flags.txt
UART_Serial_Console/*.o
UART_Serial_Console/*.elf
UART_Serial_Console/*.map
UART_Serial_Console/core/src/*.o
UART_Serial_Console/drivers/GPIO/*.o
UART_Serial_Console/drivers/RCC/*.o
UART_Serial_Console/drivers/USART/*.o
